<table>
  <tbody>
    <tr>
      <th valign="top">{% include icons/ftp_server.liquid %}</th>
      <th>
        <span>Name</span>
      </th>
      <th>
        <span>File type</span>
      </th>
      <th>
        <span>Size</span>
      </th>
    </tr>
    <tr>
      <th colspan="5"><hr /></th>
    </tr>
    {% include components/parent_directory.liquid %}
    {% for file in site.data.files %}
    <tr>
      <td valign="top">{% include icons/powershell.liquid %}</td>
      <td>
        <a href="{{ file.dirPath }}"
          >{{ file.name }}</a
        >
      </td>
      <td align="right">{{ file.type }}</td>
    </tr>
    {% endfor %}
    <tr>
      <th colspan="5"><hr /></th>
    </tr>
  </tbody>
</table>
