<tr>
      <td valign="top">
        {% include icons/symlink_directory.liquid %}
      </td>
      <td>
        <a href="javascript:void(0)">Parent Directory</a>
      </td>
      <td>&nbsp;</td>
</tr>

<script type="text/javascript">
      window.location.host
</script>