<table>
  <tbody>
    <tr>
      <th valign="top">{% include icons/ftp_server.liquid %}</th>
      <th>
        <span>Name</span>
      </th>
      <th>
        <span>File type</span>
      </th>
    </tr>
    <tr>
      <th colspan="5"><hr /></th>
    </tr>
    {% include components/ps1_files.liquid %}
    <tr>
      <th colspan="5"><hr /></th>
    </tr>
  </tbody>
</table>
